@font-face {
    font-family: roboto;
    src: url(../assets/fonts/static/Roboto-Regular.ttf);
}
@font-face {
    font-family: sand;
    src: url(../assets/fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face{
    font-family: serif;
    src: url(../assets/fonts/static/SourceSerif4-Regular.ttf);
}
@font-face {
    font-family: libre;
    src: url(../assets/fonts/LibreBaskerville-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



.calendar-container{
    .calendar-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 60px;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(1px);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 20px;
         
        .calendar-nav {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 30px;

            .calendar-burger{
                max-width: 30px;
                max-height: 30px;
                fill: white;
                display: none;
            }
           
            .calendar-menu1 {
                color: white;
                text-decoration: none;
                font-family: roboto;
                font-size: 16px;
            }
        }

        .calendar-search {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 20px;

            .calendar-img {
                height: 25px;
                width: 25px;
            }

            .calendar-search1 {
                color: white;
                text-decoration: none;
                font-family: roboto;
                font-size: 16px;
            }
        }

        @media (max-width: 768px) {
            height: 50px;
            justify-content: space-between;
            padding: 0 15px;

            .calendar-nav {
                gap: 15px;

                .calendar-menu1 {
                    font-size: 14px;
                    
                }
            }

            .calendar-search {
                gap: 10px;

                .calendar-img {
                    height: 20px;
                    width: 20px;
                }

                .calendar-search1 {
                    font-size: 14px;
                }
            }
        }

        @media (max-width: 480px) {
            .calendar-nav {
                gap: 10px;

                .calendar-burger{
                    display: block;
                }
                .calendar-menu1 {
                    font-size: 12px;
                    display: none;
                }
            }

            .calendar-search {
                .calendar-search1 {
                    font-size: 12px;
                }
            }
        }
    }
    

    .calendar-intro{
        width: 100%;
        height: 40vh;
        min-height: 250px;
        background-image: url(../assets/images/chocolate\ bg4.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (max-width: 768px) {
            height: 30vh;
            min-height: 200px;
        }

        @media screen and (max-width: 480px) {
            height: 25vh;
            min-height: 180px;
        }
    }




    .calendar-main1{
        padding-top: 50px;
        height: 100vh;
        
    }
    .booking{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        max-width: 1024px;
        margin: auto;
     }
.calendar{
    h3{
        margin-bottom: 1rem;
        color: rgb(53, 53, 53);
        font-size: 23px;
        font-family: serif;

    }
    .calendar-header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    .arrow{
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .month{
        color: rgb(53, 53, 53);
        font-size: 23px;
        font-family: sand;
    }
    }
    .weekdays,.days{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
    }
    .weekdays{
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .days span{
        padding: 0.7rem;
        cursor: pointer;
        border-radius: 4px;
        &:hover{
            background: white;
        }
        &:active{
            background: rgb(153, 69, 0);
            color: white;
        }
        &.empty{
            pointer-events: none;
        }
    }
}
.times{
    h4{
        margin-bottom: 1rem;
        color: rgb(53, 53, 53);
        font-size: 21px;
        font-family: serif;
    }
    .slots{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.7rem;
        padding-top: 30px;
    }
    .slot{
        padding: 0.8rem;
        border: 1px solid lightgray;
        background: white;
        cursor: pointer;
        transition: transform 0.5s ease;
        border-radius: 4px;
        &.active{
           background: rgb(153, 69, 0);
           color: white;
           border-color: black;
        }
        &:hover{
           transform: scale(1.05);
           background: rgb(153, 69, 0);
           color: white;
           border-color: black;
        }
    }
}
.details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .next{
        margin-top: auto;
        padding: 0.8rem;
        background: rgb(153, 69, 0);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: transform 0.5s ease;
    }
    .next:hover{
         transform: scale(1.05);
         background: rgb(121, 55, 0);
    }
    h4{
        color: rgb(53, 53, 53);
        font-size: 30px;
        font-family: serif;
    }
    p{
         color: rgb(53, 53, 53);
        font-size: 16px;
        font-family: sand;
        padding-top: 20px;
    }
}


}





@media (max-width: 1024px) {
  .calendar-container .booking {
    gap: 1.5rem;
    padding: 0 1rem;
    max-width: 768px;
    grid-template-columns: 1fr 1fr;
  }

  .details {
    grid-column: span 2;
  }

  .calendar h3,
  .times h4 {
    font-size: 20px;
  }
}




@media (max-width: 768px) {
  
  .calendar-container .booking {
    gap: 2rem;
    max-width: 480px;
    grid-template-columns: 1fr;
  }
  .calendar-container .calendar-main1{
       height: 120vh;
   }

  .calendar,
  .times,
  .details {
    width: 100%;
    grid-column: 2/3;
  }

  .calendar {
    .calendar-header1 {
      .month {
        font-size: 20px;
      }
    }

    .days span {
      padding: 0.9rem;
      font-size: 14px;
    }
  }

  .times {
    .slots {
      grid-template-columns: repeat(2, 1fr);
    }

    .slot {
      padding: 1rem;
    }
  }
}



@media (max-width: 480px) {
    .calendar-container .booking {
        max-width: 320px;
        gap: 0;
   }
   
  .calendar {
    h3 {
      font-size: 18px;
    }

    .weekdays {
      font-size: 12px;
    }

    .days span {
      padding: 0.7rem;
      font-size: 13px;
    }
  }

  .times {
    h4 {
      font-size: 18px;
    }

    .slots {
      grid-template-columns: 1fr;
    }

    .slot {
      font-size: 15px;
    }
  }

  .details {
    padding-top: 50px;
    h4 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
      padding-top: 10px;
    }

    .next {
      width: 100%;
      padding: 1rem;
      font-size: 16px;
    }
  }
}