@font-face {
    font-family: roboto;
    src: url(../assets/fonts/static/Roboto-Regular.ttf);
}
@font-face {
    font-family: sand;
    src: url(../assets/fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face{
    font-family: serif;
    src: url(../assets/fonts/static/SourceSerif4-Regular.ttf);
}
@font-face {
    font-family: libre;
    src: url(../assets/fonts/LibreBaskerville-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.login-container{
    .login-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 60px;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(1px);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 20px;
         
        .login-nav {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 30px;

            .login-burger{
                max-width: 30px;
                max-height: 30px;
                fill: white;
                display: none;
            }
           
            .login-menu1 {
                color: white;
                text-decoration: none;
                font-family: roboto;
                font-size: 16px;
            }
        }

        .login-search {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 20px;

            .login-img {
                height: 25px;
                width: 25px;
            }

            .login-search1 {
                color: white;
                text-decoration: none;
                font-family: roboto;
                font-size: 16px;
            }
        }

        @media (max-width: 768px) {
            height: 50px;
            justify-content: space-between;
            padding: 0 15px;

            .login-nav {
                gap: 15px;

                .login-menu1 {
                    font-size: 13px;
                    
                }
            }

            .login-search {
                gap: 10px;

                .login-img {
                    height: 20px;
                    width: 20px;
                }

                .login-search1 {
                    font-size: 14px;
                }
            }
        }

        @media (max-width: 480px) {
            .login-nav {
                gap: 10px;

                .login-burger{
                    display: block;
                }
                .login-menu1 {
                    font-size: 12px;
                    display: none;
                }
            }

            .login-search {
                .login-search1 {
                    font-size: 12px;
                }
            }
        }
    }


    .login-intro{
        background-image: url(../assets/images/chocolate\ bg.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        min-width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

      .login-form{
        background-color: bisque;
        height: auto;
        width: 70vh;
        z-index: 100;
        border-radius: 5%;
        margin: 0 20px;

        .login-h2{
            text-align: center;
            font-family: sand;
            font-size: 35px;
            color: rgb(165, 79, 42);
            padding: 20px;
            border-bottom: 3px solid rgb(165, 79, 42);
            margin-bottom: 20px;
        }

        .login-inputs{
            display: flex;
            flex-direction: column;
            align-items: center;

            .login-label{
                font-family: sand;
                font-size: 18px;
            }
            .login-inputs1{
                display: inline-block;
                width: 200px;
                height: 35px;
                margin-bottom: 20px;
            }

            .login-button{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 200px;
                background-color: rgb(165, 79, 42);
                font-family: roboto;
                cursor: pointer;
                transition: transform 0.3s ease;
                border: 1px solid black;
                border-radius: 7px;
                margin-top: 20px;
                margin-bottom: 20px;
                

                .login-button1{
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                    letter-spacing: 5px;
                    font-family: sand;
                    width: 150px;
                    text-align: center;
                }
            }
            .login-button:hover{
                background-color:  rgb(168, 69, 27);
                transform: scale(1.05);
            }
        }




    } 
    }
      









}