@font-face {
    font-family: roboto;
    src: url(../assets/fonts/static/Roboto-Regular.ttf);
}
@font-face {
    font-family: sand;
    src: url(../assets/fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face{
    font-family: serif;
    src: url(../assets/fonts/static/SourceSerif4-Regular.ttf);
}
@font-face {
    font-family: libre;
    src: url(../assets/fonts/LibreBaskerville-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



.order-container{
    .order-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 60px;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(1px);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 20px;
         
        .order-nav {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 30px;

            .order-burger{
                max-width: 30px;
                max-height: 30px;
                fill: white;
                display: none;
            }
           
            .order-menu1 {
                color: white;
                text-decoration: none;
                font-family: roboto;
                font-size: 16px;
            }
        }

        .order-search {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 20px;

            .order-img {
                height: 25px;
                width: 25px;
            }

            .order-search1 {
                color: white;
                text-decoration: none;
                font-family: roboto;
                font-size: 16px;
            }
        }

        @media (max-width: 768px) {
            height: 50px;
            justify-content: space-between;
            padding: 0 15px;

            .order-nav {
                gap: 15px;

                .order-menu1 {
                    font-size: 14px;
                    
                }
            }

            .order-search {
                gap: 10px;

                .order-img {
                    height: 20px;
                    width: 20px;
                }

                .order-search1 {
                    font-size: 14px;
                }
            }
        }

        @media (max-width: 480px) {
            .order-nav {
                gap: 10px;

                .order-burger{
                    display: block;
                }
                .order-menu1 {
                    font-size: 12px;
                    display: none;
                }
            }

            .order-search {
                .order-search1 {
                    font-size: 12px;
                }
            }
        }
    }




    .order-intro{
        width: 100%;
        height: 40vh;
        background-image: url(../assets/images/chocolate\ bg4.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .order-main{
        max-width: 1150px;
        margin: 0 auto;
        .order-title{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            .order-h2{
                margin-top: 30px;
                color: rgb(82, 82, 82);
                font-size: 50px;
                font-family: serif;
                font-weight: 270;
            }
            .order-p{
                color: black;
                font-family: sand;
            }



            .green{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid lightgray;
                width: 170px;
                height: 40px;
                gap: 10px;
                border-radius: 20px;
                .green1{
                    
                    background-color: rgb(0, 174, 0);
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                }
                .green-p{
                    color: black;
                    font-family: sand;

                }
            }

            .pickup-delivery{ 
                display: flex;
                .order-pickup{
                    display: flex;
                    text-decoration: none;
                    color: black;
                    font-family: sand;
                    border: 1px solid black;
                    background-color: rgb(238, 238, 238);
                    width: 170px;
                    height: 50px;
                    align-items: center;
                    justify-content: center;

                }
                .order-delivery{
                    display: flex;
                    text-decoration: none;
                    color: black;
                    font-family: sand;
                    border: 1px solid black;
                    background-color: rgb(238, 238, 238);
                    width: 170px;
                    height: 50px;
                    align-items: center;
                    justify-content: center;
                }
                .order-pickup:hover{
                    background-color: lightgray;
                }
                .order-delivery:hover{
                    background-color: lightgray;
                }

            }
            .time-location{
                display: flex;
                gap: 20px;
                .time{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .time-p{
                        color: black;
                        font-family: sand;
                    }
                    .time-a{
                        color: black;
                        font-family: sand;
                    }
                }
                .location{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .location-p{
                        color: black;
                        font-family: sand;
                    }
                    .loc{
                        width: 24px;
                    }
                }
            }
           



        }
    }
    .order-main2{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        max-width: 1150px;
        margin: 0 auto;
        height: 300vh;

        .cards{
            .truffels-desserts{
                
                font-size: 17px;
                font-family:sand;


                .cards-truffels{
                    text-decoration: none;
                    color: rgb(53, 53, 53);
                }
                .cards-desserts{
                    text-decoration: none;
                    color: rgb(53, 53, 53);
                }

            }

            .truffel-menu{
                .truffel-menu-h2{
                    color: rgb(82, 82, 82);
                    font-size: 35px;
                    font-family: serif;
                    font-weight: 270;
                    padding-bottom: 30px;
                }
            }
            .truffel-line{
                border-top: 1px solid gray;
                padding-bottom: 30px;
                width: 1135px;
            }

            .cardsText{
                padding-bottom: 30px;
                .cardsText-h2{
                    color: black;
                    font-size: 30px;
                    font-family: serif;
                    font-weight: 200;
                }
                .cardsText-p{
                    color: black;
                    font-family: sand;
                }
            }
           

            .truffel-cards{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2rem;
            max-width: 1150px;
            margin: 0 auto;

            
            .truffel-card1{
                border: 1px solid gray;
                text-align: center;
                background: white;
                max-width: 250px;
                background-color: rgb(238, 238, 238);
                padding: 0 0 2rem 0;

                transition: transform 0.3s ease, box-shadow 0.3s ease;
                .truffel-img{
                    max-width: 245px;
                    height: 170px;
                    object-fit: cover;
                    margin-bottom: 1rem;
                }
                .tc-h3{
                    font-size: 17px;
                    font-family:serif;
                    color: rgb(53, 53, 53);
                    font-weight: 300;
                    padding: 0 1.5rem;
                }
                .tc-p{
                    font-size: 13px;
                    font-family: sand;
                    color: rgb(30, 30, 30);
                    padding: 0 1.5rem;


                }
                

                

            }
            .truffel-card1:hover{
                    transform: scale(1.05);
                    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
            }
        }

       
       

        

        
    }













}
